# Stop git from breaking these scripts by putting CRLF in place of LF
extensions/vscode-containers/resources/netCore/vsdbg text eol=lf
packages/compose-language-service/bin/docker-compose-langserver text eol=lf

# Mark some files as generated to prevent them from showing in the repo's language stats
NOTICE.html linguist-vendored=true
